// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree file for Eswin EIC7702 SoC.
 *
 * Copyright 2024, Beijing ESWIN Computing Technology Co., Ltd.. All rights reserved.
 * SPDX-License-Identifier: GPL-2.0
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 2.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

/dts-v1/;

#define RTCCLK_FREQ		1000000
#define LSPCLK_FREQ		200000000

/* If wanna enable ECC capability of DDR, should reserve highest zone of 1/8 all space for it */
#define MEMORY_SIZE_H		0x4
#define MEMORY_SIZE_L		0x0
#define CMA_SIZE		0x20000000

#include "eswin-win2030-die0-soc.dtsi"
#include "eswin-win2030-die1-soc.dtsi"

#include "eic7x-die0-pinctrl.dtsi"
#include "eic7x-die1-pinctrl.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pwm/pwm.h>

/* Clock frequency (in Hz) of the PCB crystal for rtcclk */

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	model = "DeepComputing FML13V03";
	compatible = "deepcomputing,fml13v03", "sifive,hifive-unmatched-a00", "sifive,fu740-c000",
		     "sifive,fu740", "eswin,eic7700";

	aliases {
		serial0 = &d0_uart0;
		rtc0 = &die0_rtc;
		rtc1 = &d1_rtc;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	cpus {
		timebase-frequency = <RTCCLK_FREQ>;
	};

	memory@59000000 {
		device_type = "memory";
		reg = <0x0 0x59000000 0x0 0x400000>;
		numa-node-id = <0>;
	};

	memory@79000000 {
		device_type = "memory";
		reg = <0x0 0x79000000 0x0 0x400000>;
		numa-node-id = <1>;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 MEMORY_SIZE_H MEMORY_SIZE_L>;
		numa-node-id = <0>;
	};

	memory@2000000000 {
		device_type = "memory";
		reg = <0x20 0x00000000 MEMORY_SIZE_H MEMORY_SIZE_L>;
		numa-node-id = <1>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 CMA_SIZE>;
			alignment = <0x0 0x1000>;
			alloc-ranges = <0x20 0x00000000 MEMORY_SIZE_H MEMORY_SIZE_L>;
			linux,cma-default;
		};

		npu0_reserved: sprammemory@59000000 {
			no-map;
			reg = <0x0 0x59000000 0x0 0x400000>;
		};

		npu1_reserved: sprammemory@79000000 {
			no-map;
			reg = <0x0 0x79000000 0x0 0x400000>;
		};

		g2d_4GB_boundary_reserved_4k {
			no-map;
			reg = <0x0 0xfffff000 0x0 0x1000>;
		};

		g2d_8GB_boundary_reserved_4k {
			no-map;
			reg = <0x1 0xfffff000 0x0 0x1000>;
		};

		g2d_12GB_boundary_reserved_4k {
			no-map;
			reg = <0x2 0xfffff000 0x0 0x1000>;
		};

		mmz_nid_0_part_0 {
			compatible = "eswin-reserve-memory";
			reg = <0x3 0x0 0x1 0x60000000>;
			no-map;
		};

		nid_1_zero_device_simu: nid_1_zero_device_simu@2040000000 {
			no-map;
			reg = <0x20 0x40000000 0x0 0x400000>;
		};

		d1_g2d_4GB_boundary_reserved_4k {
			no-map;
			reg = <0x20 0xfffff000 0x0 0x1000>;
		};

		d1_g2d_8GB_boundary_reserved_4k {
			no-map;
			reg = <0x21 0xfffff000 0x0 0x1000>;
		};

		mmz_nid_1_part_0 {
			compatible = "eswin-reserve-memory";
			reg = <0x22 0x80000000 0x1 0x60000000>;
			no-map;
		};
	};

	distance-map {
		compatible = "numa-distance-map-v1";
		distance-matrix = <0 0 10>,
				<0 1 100>,
				<1 0 100>,
				<1 1 10>;
	};

	backlight_regulator: regulator-backlight {
		compatible = "regulator-fixed";
		regulator-name = "backlight-power";
		regulator-min-microvolt = <1800000>;  /* 1.8V */
		regulator-max-microvolt = <1800000>;  /* 1.8V */
		regulator-always-on;
	};

	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&d1_pwm0 0 200000 PWM_POLARITY_INVERTED>;
		power-supply = <&backlight_regulator>;
		status = "okay";
		brightness-levels = <
			 0   1   2   3   4   5   6   7   8   9
			10  11  12  13  14  15  16  17  18  19
			20  21  22  23  24  25  26  27  28  29
			30  31  32  33  34  35  36  37  38  39
			40  41  42  43  44  45  46  47  48  49
			50  51  52  53  54  55  56  57  58  59
			60  61  62  63  64  65  66  67  68  69
			70  71  72  73  74  75  76  77  78  79
			80  81  82  83  84  85  86  87  88  89
			90  91  92  93  94  95  96  97  98  99
			100 101 102 103 104 105 106 107 108 109
			110 111 112 113 114 115 116 117 118 119
			120 121 122 123 124 125 126 127 128 129
			130 131 132 133 134 135 136 137 138 139
			140 141 142 143 144 145 146 147 148 149
			150 151 152 153 154 155 156 157 158 159
			160 161 162 163 164 165 166 167 168 169
			170 171 172 173 174 175 176 177 178 179
			180 181 182 183 184 185 186 187 188 189
			190 191 192 193 194 195 196 197 198 199
			200 201 202 203 204 205 206 207 208 209
			210 211 212 213 214 215 216 217 218 219
			220 221 222 223 224 225 226 227 228 229
			230 231 232 233 234 235 236 237 238 239
			240 241 242 243 244 245 246 247 248 249
			250 251 252 253 254>;
			default-brightness-level = <128>;
	};

	camera_light_power: regulator-gpio69 {
		compatible = "regulator-fixed";
		regulator-name = "camera-light-power";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		gpio = <&d1_portc 5 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_die1_gpio69_default>;
		regulator-always-on;
		status = "okay";
	};
};

&D1CACHE {
	status = "okay";
	d1_zero_device: zero-device@3a000000 {
		compatible = "l3,zero-device";
		/*reg = <0x0 0x3a000000 0x0 0x400000>;*/
		memory-region = <&nid_1_zero_device_simu>;
	};
};

&d0_cpu_opp_table {
	opp-1500000000 {
		opp-hz = /bits/ 64 <CLK_FREQ_1500M>;
		opp-microvolt = <900000>;
		clock-latency-ns = <70000>;
	};
	opp-1600000000 {
		opp-hz = /bits/ 64 <CLK_FREQ_1600M>;
		opp-microvolt = <900000>;
		clock-latency-ns = <70000>;
	};
	opp-1700000000 {
		opp-hz = /bits/ 64 <CLK_FREQ_1700M>;
		opp-microvolt = <900000>;
		clock-latency-ns = <70000>;
	};
	opp-1800000000 {
		opp-hz = /bits/ 64 <CLK_FREQ_1800M>;
		opp-microvolt = <900000>;
		clock-latency-ns = <70000>;
	};
};

&d1_cpu_opp_table {
	opp-1500000000 {
		opp-hz = /bits/ 64 <CLK_FREQ_1500M>;
		opp-microvolt = <900000>;
		clock-latency-ns = <70000>;
	};
	opp-1600000000 {
		opp-hz = /bits/ 64 <CLK_FREQ_1600M>;
		opp-microvolt = <900000>;
		clock-latency-ns = <70000>;
	};
	opp-1700000000 {
		opp-hz = /bits/ 64 <CLK_FREQ_1700M>;
		opp-microvolt = <900000>;
		clock-latency-ns = <70000>;
	};
	opp-1800000000 {
		opp-hz = /bits/ 64 <CLK_FREQ_1800M>;
		opp-microvolt = <900000>;
		clock-latency-ns = <70000>;
	};
};

&d0_clock {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_die0_gpio19_default>;
	cpu-voltage-gpios = <&porta 19 GPIO_ACTIVE_HIGH>;
	cpu-default-frequency = <CLK_FREQ_1800M>;
};

&d1_clock {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_die1_gpio104_default>;
	cpu-voltage-gpios = <&portd 8 GPIO_ACTIVE_HIGH>;
	cpu-default-frequency = <CLK_FREQ_1800M>;
};

&d0_reset {
	status = "okay";
};
&d1_reset {
	status = "okay";
};

&d0_pmu {
	status = "okay";
};
&d1_pmu {
	status = "okay";
};

&ddr0 {
	status = "okay";
};

&ddr1 {
	status = "okay";
};

&d1_ddr0 {
	status = "okay";
};

&d1_ddr1 {
	status = "okay";
};

&smmu0 {
	status = "okay";
};
&smmu1 {
	status = "okay";
};

&smmu_pmu0 {
	status = "disabled";
};
&smmu_pmu1 {
	status = "disabled";
};


&dev_foo_a {
	status = "okay";
};

&d0_cfg_noc {
	status = "okay";
};

&d0_llc_noc {
	status = "okay";
	stat,0 = "TracePort:ddr0_p0_req";
	stat,1 = "TracePort:ddr1_p0_req";
	//latency,0 = "TracePort:llcnoc_trans_probe";
	//pending,0 = "TracePort:llcnoc_trans_probe";
};

&d0_sys_noc {
	status = "disabled";

	//eswin,DSPT-qos-owner;
	//eswin,NPU-qos-owner;
	//eswin,SPISLV_TBU3-qos-owner;

	stat,0 = "TracePort:ddr0_p1_req",
		 "InitFlow:mcput_snoc_mp/I/0";

	stat,1 = "TracePort:ddr0_p2_req",
		 "InitFlow:dspt_snoc/I/0",
		 "AddrBase:0x81000000", "AddrSize:0x30",
		 "Opcode:RdWrLockUrg", "Status:ReqRsp", "Length:0x8000", "Urgency:0x0";

	stat,2 = "TracePort:ddr1_p1_req",
		 "Status:Req", "AddrSize:0x28";

	stat,3 = "TracePort:ddr1_p2_req";

	latency,0 = "TracePort:sysnoc_trans_probe_0", "AddrSize:0x0";
	latency,1 = "TracePort:sysnoc_trans_probe_1","Mode:latency","AddrBase:0x82000000","AddrSize:0x28","Opcode:RdWr";
	//latency,2 = "TracePort:sysnoc_trans_probe_2";

	//pending,0 = "TracePort:sysnoc_trans_probe_0";
	//pending,1 = "TracePort:sysnoc_trans_probe_1","Mode:latency","AddrBase:0x82000000","AddrSize:0x0","Opcode:RdWr";
	pending,0 = "TracePort:sysnoc_trans_probe_2", "AddrSize:0x3";
};

&d0_media_noc {
	status = "okay";

	//eswin,GPU-qos-owner;
	//eswin,TBU2-qos-owner;
	//eswin,VC-qos-owner;

	stat,0 = "TracePort:ddr0_p3_req";
	stat,1 = "TracePort:ddr1_p3_req";
	//latency,0 = "TracePort:mnoc_trans_probe";
	//pending,0 = "TracePort:mnoc_trans_probe";
};

&d0_realtime_noc {
	status = "okay";

	//eswin,TBU0-qos-owner;
	//eswin,VO-qos-owner;

	stat,0 = "TracePort:ddr0_p4_req";
	stat,1 = "TracePort:ddr1_p4_req";
	//latency,0 = "TracePort:rnoc_trans_probe";
	//pending,0 = "TracePort:rnoc_trans_probe";
};

&d0_noc_wdt {
	status = "okay";
};

&d1_cfg_noc {
	status = "okay";
};

&d1_llc_noc {
	status = "okay";
	stat,0 = "TracePort:ddr0_p0_req";
	stat,1 = "TracePort:ddr1_p0_req";
	//latency,0 = "TracePort:llcnoc_trans_probe";
	//pending,0 = "TracePort:llcnoc_trans_probe";
};

&d1_sys_noc {
	status = "disabled";

	//eswin,DSPT-qos-owner;
	//eswin,NPU-qos-owner;
	//eswin,SPISLV_TBU3-qos-owner;

	stat,0 = "TracePort:ddr0_p1_req",
		 "InitFlow:mcput_snoc_mp/I/0";

	stat,1 = "TracePort:ddr0_p2_req",
		 "InitFlow:dspt_snoc/I/0",
		 "AddrBase:0x81000000", "AddrSize:0x30",
		 "Opcode:RdWrLockUrg", "Status:ReqRsp", "Length:0x8000", "Urgency:0x0";

	stat,2 = "TracePort:ddr1_p1_req",
		 "Status:Req", "AddrSize:0x28";

	stat,3 = "TracePort:ddr1_p2_req";

	latency,0 = "TracePort:sysnoc_trans_probe_0", "AddrSize:0x0";
	latency,1 = "TracePort:sysnoc_trans_probe_1","Mode:latency","AddrBase:0x82000000","AddrSize:0x28","Opcode:RdWr";
	//latency,2 = "TracePort:sysnoc_trans_probe_2";

	//pending,0 = "TracePort:sysnoc_trans_probe_0";
	//pending,1 = "TracePort:sysnoc_trans_probe_1","Mode:latency","AddrBase:0x82000000","AddrSize:0x0","Opcode:RdWr";
	pending,0 = "TracePort:sysnoc_trans_probe_2", "AddrSize:0x3";
};

&d1_media_noc {
	status = "okay";

	//eswin,GPU-qos-owner;
	//eswin,TBU2-qos-owner;
	//eswin,VC-qos-owner;

	stat,0 = "TracePort:ddr0_p3_req";
	stat,1 = "TracePort:ddr1_p3_req";
	//latency,0 = "TracePort:mnoc_trans_probe";
	//pending,0 = "TracePort:mnoc_trans_probe";
};

&d1_realtime_noc {
	status = "okay";

	//eswin,TBU0-qos-owner;
	//eswin,VO-qos-owner;

	stat,0 = "TracePort:ddr0_p4_req";
	stat,1 = "TracePort:ddr1_p4_req";
	//latency,0 = "TracePort:rnoc_trans_probe";
	//pending,0 = "TracePort:rnoc_trans_probe";
};

&d1_noc_wdt {
	status = "okay";
};

&d0_ipc_scpu {
	status = "okay";
};
&d1_ipc_scpu {
	status = "okay";
};

&d0_lpcpu {
	status = "okay";
};
&d1_lpcpu {
	status = "okay";
};

&pcie {
	/* m.2 ssd key m */
	status = "okay";
};
&d1_pcie {
	/* wifi key e */
	status = "okay";
};

&d0_npu{
	status = "disabled";
	npu-supply=<&d0_npu_vcc>;
	npu_def_high_vol = <1100000>;
};
&d1_npu {
	status = "disabled";
	npu-supply=<&d1_npu_vcc>;
};

&d0_dsp_subsys {
	status = "disabled";
};
&d1_dsp_subsys {
	status = "disabled";
};

&d0_dsp0 {
	status = "disabled";
};
&d1_dsp0 {
	status = "disabled";
};

&d0_dsp1 {
	status = "disabled";
};
&d1_dsp1 {
	status = "disabled";
};

&d0_dsp2 {
	status = "disabled";
};
&d1_dsp2 {
	status = "disabled";
};

&d0_dsp3 {
	status = "disabled";
};
&d1_dsp3 {
	status = "disabled";
};

&gpu0 {
	status = "okay";
};
&d1_gpu {
	status = "disabled";
};

&gc820 {
	status = "okay";
};
&d1_gc820 {
	status = "okay";
};

&vdec0 {
	status = "okay";
};
&vdec1 {
	status = "okay";
};

&venc0 {
	status = "okay";
};
&venc1 {
	status = "okay";
};

&video_output {
	status = "okay";
};

&d1_video_output {
	status = "okay";
};

&dc {
	status = "okay";
	dc_out: port {
		#address-cells = <1>;
		#size-cells = <0>;
		dc_out_hdmi: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&hdmi_in_dc>;
		};
		dc_out_dpi1: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&vd_input>;
		};
	};
};

&d1_dc {
	status = "okay";
	d1_dc_out: port {
		#address-cells = <1>;
		#size-cells = <0>;
		d1_dc_out_hdmi: endpoint@0 {
			reg = <0>;
			remote-endpoint = <&d1_hdmi_in_dc>;
		};
		d1_dc_out_dpi1: endpoint@1 {
			reg = <1>;
			remote-endpoint = <&d1_vd_input>;
		};
	};
};

&dc_test {
	status = "disabled";
};
&d1_dc_test {
	status = "disabled";
};

&virtual_display {
	status = "okay";
	port {
		vd_input: endpoint {
			remote-endpoint = <&dc_out_dpi1>;
		};
	};
};

&d1_virtual_display {
	status = "okay";
	port {
		d1_vd_input: endpoint {
			remote-endpoint = <&d1_dc_out_dpi1>;
		};
	};
};

&dsi_controller {
	status = "disabled";
};
&d1_dsi_controller {
	status = "disabled";
};

&dw_hdmi {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			hdmi_in_dc: endpoint@0 {
				remote-endpoint = <&dc_out_hdmi>;
			};
		};
		port@2 {
			reg = <2>;
			hdmi_in_i2s: endpoint@1 {
				system-clock-frequency = <12288000>;
				remote-endpoint = <&d0_i2s0_endpoint>;
			};
		};
	};
};
&d1_dw_hdmi {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;
		port@0 {
			reg = <0>;
			d1_hdmi_in_dc: endpoint@0 {
				remote-endpoint = <&d1_dc_out_hdmi>;
			};
		};
		port@2 {
			reg = <2>;
			d1_hdmi_in_i2s: endpoint@1 {
				system-clock-frequency = <12288000>;
				remote-endpoint = <&d1_i2s0_endpoint>;
			};
		};
	};
};

&dw_hdmi_hdcp2 {
	status = "okay";
};
&d1_dw_hdmi_hdcp2 {
	status = "disabled";
};


&d0_i2s0 {
	status = "okay";
	numa-node-id = <0>;
	d0_i2s0_port: port {
		d0_i2s0_endpoint: endpoint {
			remote-endpoint = <&hdmi_in_i2s>;
			dai-format = "i2s";
		};
	};
};

&d1_i2s0 {
	status = "okay";
	numa-node-id = <1>;
	d1_i2s0_port: port {
		d1_i2s0_endpoint: endpoint {
			remote-endpoint = <&d1_hdmi_in_i2s>;
			dai-format = "i2s";
		};
	};
};

&d0_i2s1 {
	status = "okay";
	numa-node-id = <0>;
	#sound-dai-cells = <0>;
	clocks = <&d0_clock EIC7700_CLK_VO_I2S_MCLK>, <&d0_clock EIC7700_APLL_FOUT1>;
	clock-names = "mclk", "apll";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_die0_i2s1_default>;
	d0_i2s1_port: port {
		d0_i2s1_endpoint: endpoint {
			remote-endpoint = <&es8326_endpoint>;
			dai-format = "i2s";
		};
	};
};

&d1_i2s1 {
	status = "disabled";
};

&d0_i2s2 {
	status = "disabled";
};

&d1_i2s2 {
	status = "disabled";
};

&d0_graphcard0 {
	status = "okay";
	label = "HDMI Audio-0";
	dais = <&d0_i2s0_port>;
};

&d0_graphcard1 {
	status = "okay";
	label = "ES8326 Audio";
//	mclk-fs = <128>;
	dais = <&d0_i2s1_port>;
};

&d0_graphcard2 {
	status = "disabled";
};

&d1_graphcard0 {
	status = "okay";
	label = "HDMI Audio-1";
	dais = <&d1_i2s0_port>;
};

&d1_graphcard1 {
	status = "disabled";
};

&d1_graphcard1 {
	status = "disabled";
};

&isp_0 {
	status = "disabled";
};
&d1_isp_0 {
	status = "disabled";
};

&isp_1 {
	status = "disabled";
};
&d1_isp_1 {
	status = "disabled";
};

&dewarp {
	status = "disabled";
};
&d1_dewarp {
	status = "disabled";
};

&mipi_dphy_rx {
	status = "disabled";
};
&d1_mipi_dphy_rx {
	status = "disabled";
};

&csi_dma0 {
	status = "disabled";
};
&d1_csi_dma0 {
	status = "disabled";
};

&csi_dma1 {
	status = "disabled";
};
&d1_csi_dma1 {
	status = "disabled";
};

&csi2_0 {
	status = "disabled";
};
&d1_csi2_0 {
	status = "disabled";
};

&csi2_1 {
	status = "disabled";
};
&d1_csi2_1 {
	status = "disabled";
};

&sdhci_emmc {
	/* emmc */
	status = "okay";
	delay_code = <0x17>;
	drive-impedance-ohm = <50>;
	enable-cmd-pullup;
	enable-data-pullup;
	no-sdio;
	no-sd;
};

&d1_sdhci_emmc {
	/* unused */
	status = "disabled";
};

&sdio0 {
	/* sd card */
	status = "okay";
	delay_code = <0x55>;
	drive-impedance-ohm = <33>;
	enable-cmd-pullup;
	enable-data-pullup;
	no-sdio;
	no-mmc;
};

&d1_sdio0 {
	/* unused */
	status = "disabled";
};

&sdio1 {
	status = "disabled";
};

&d1_sdio1 {
	status = "disabled";
};

&d0_gmac0 {
	/* unused */
	status = "disabled";
};

&d1_gmac0 {
	/* unused */
	status = "disabled";
};

&d0_gmac1 {
	/* unused */
	status = "disabled";
};

&d1_gmac1 {
	/* unused */
	status = "disabled";
};

&d0_sata {
	status = "disabled";
};

&d1_sata {
	status = "disabled";
};

&d0_usbdrd3_0 {
	status = "okay";
};
&d1_usbdrd3_0 {
	status = "okay";
};

&d0_usbdrd_dwc3_0 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
};

&d1_usbdrd_dwc3_0 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
};

&d0_usbdrd3_1 {
	status = "okay";
};

&d1_usbdrd3_1 {
	status = "okay";
};

&d0_usbdrd_dwc3_1 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
};

&d1_usbdrd_dwc3_1 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
};

&d0_dmac0 {
	status = "okay";
};

&d1_dmac0 {
	status = "okay";
};

&d0_aon_dmac {
	status = "okay";
};

&d1_aon_dmac {
	status = "okay";
};

&d0_uart0 {
	/* debug */
	status = "okay";
};

&d1_uart0 {
	status = "okay";
};

&d0_uart1 {
	/* unused */
	status = "disabled";
};

&d1_uart1 {
	/* unused */
	status = "disabled";
};

&d0_uart2 {
	/* unused */
	status = "disabled";
};

&d1_uart2 {
	/* unused */
	status = "disabled";
};

&d0_uart3 {
	/* unused */
	status = "disabled";
};

&d1_uart3 {
	/* unused */
	status = "disabled";
};

&d0_uart4 {
	/* unused */
	status = "disabled";
};

&d1_uart4 {
	/* unused */
	status = "disabled";
};

&ssi0 {
	/* unused */
	status = "disabled";
};

&d1_ssi0 {
	/* spi flash */
	status = "okay";
	num-cs = <2>;
	spi-flash@0 {
		compatible = "winbond,w25q128fw",
					"jedec,spi-nor";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <4800000>;
		rx-sample-delay-ns = <10>;
	};
	spi-flash@1 {
		compatible = "winbond,w25q128fw",
					"jedec,spi-nor";
		reg = <1>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <4800000>;
		rx-sample-delay-ns = <10>;
	};
};

&pinctrl_die0_spi2_default {
	mux1 {
		groups = "spi2_clk_group";
		function = "spi2_clk_func";
	};
	conf1 {
		groups = "spi2_clk_group";
		input-enable = <1>;
		bias-pull-up = <1>;
		bias-pull-down = <0>;
	};
	mux2 {
		groups = "spi2_d0_group";
		function = "spi2_d0_func";
	};
	conf2 {
		groups = "spi2_d0_group";
		input-enable = <1>;
		bias-pull-up = <1>;
		bias-pull-down = <0>;
	};
	mux3 {
		groups = "spi2_d1_d2_d3_group";
		function = "spi2_d1_d2_d3_func";
	};
	conf3 {
		groups = "spi2_d1_d2_d3_group";
		input-enable = <1>;
		bias-pull-up = <1>;
		bias-pull-down = <0>;
	};
};

&pinctrl_die0_gpio6_default {
	mux {
		groups = "gpio6_group";
		function = "gpio6_func";
	};
	conf {
		groups = "gpio6_group";
		drive-strength = <2>;
		bias-pull-up = <1>;
		bias-pull-down = <0>;
	};
};

&ssi1 {
	status = "okay";

	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_die0_spi2_default
				 &pinctrl_die0_gpio6_default>;	// SPI pin multiplexing

	cs-gpios = <&porta 6 GPIO_ACTIVE_LOW>;
	num-cs = <1>;

	fwos_ec: spi@0 {
		compatible = "google,cros-ec-spi";
		reg = <0>;
		status = "okay";

		spi-max-frequency = <4800000>;			// Maximum SPI clock frequency (4.8 MHz)
		mode = <0>;								// SPI Mode 0 (CPOL=0, CPHA=0)
		rx-sample-delay-ns = <10>;				// Receive sample delay in nanoseconds
		google,cros-ec-spi-pre-delay = <10>;
		google,cros-ec-spi-msg-delay = <10>;

		interrupt-parent = <&porta>;
		interrupts = <25 IRQ_TYPE_LEVEL_LOW>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_die0_gpio25_default>;
	};
};

&d1_ssi1 {
	/* unused */
	status = "disabled";
};

&bootspi {
	/* spi flash */
	status = "okay";
	num-cs = <1>;
	cs-gpios = <&portd 0 GPIO_ACTIVE_LOW>;
	wp-gpios = <&portd 4 GPIO_ACTIVE_LOW>;
	spi-flash@0 {
		compatible = "winbond,w25q128jw",
					"jedec,spi-nor";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <4800000>;
		rx-sample-delay-ns = <10>;
	};
};

&d1_bootspi {
	/* spi flash */
	status = "disabled";
	num-cs = <1>;
	cs-gpios = <&d1_portd 0 GPIO_ACTIVE_LOW>;
	wp-gpios = <&d1_portd 4 GPIO_ACTIVE_LOW>;
	spi-flash@0 {
		compatible = "winbond,w25q128jw",
					"jedec,spi-nor";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <4800000>;
		rx-sample-delay-ns = <10>;
	};
};

&d0_mbox0 {
	status = "okay";
};
&d1_mbox0 {
	status = "okay";
};

&d0_mbox1 {
	status = "okay";
};
&d1_mbox1 {
	status = "okay";
};

&d0_mbox2 {
	status = "okay";
};
&d1_mbox2 {
	status = "okay";
};

&d0_mbox3 {
	status = "okay";
};
&d1_mbox3 {
	status = "okay";
};

&d0_mbox4 {
	status = "okay";
};
&d1_mbox4 {
	status = "okay";
};

&d0_mbox5 {
	status = "okay";
};
&d1_mbox5 {
	status = "okay";
};

&d0_mbox6 {
	status = "okay";
};
&d1_mbox6 {
	status = "okay";
};

&d0_mbox7 {
	status = "okay";
};
&d1_mbox7 {
	status = "okay";
};

&fan_control {
	status = "okay";
};
&d1_fan_control {
	status = "disabled";
};

&d0_i2c0 {
	status = "okay";

	/* codec es8326 */
	d0_es8326_0: es8326@19 {
		#sound-dai-cells = <0>;
		compatible = "everest,es8326";
		reg = <0x19>;
		status = "okay";

		clocks = <&d0_clock EIC7700_CLK_VO_I2S_MCLK>;
		clock-names = "mclk";

		interrupt-parent = <&porta>;
		interrupts = <28 IRQ_TYPE_EDGE_FALLING>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_die0_gpio28_default
					 &pinctrl_die0_gpio111_default>;

		spk-ctl-gpio = <&portd 15 GPIO_ACTIVE_HIGH>;

//		everest,jack-detect-inverted;
		everest,jack-pol = [0e];
		everest,mic1-src = [00];
		everest,mic2-src = [44];
		everest,interrupt-src = [08];
		everest,interrupt-clk = [45];

		port {
			es8326_endpoint: endpoint {
				system-clock-frequency = <12288000>;
				remote-endpoint = <&d0_i2s1_endpoint>;
			};
		};
	};
};

&d1_i2c0 {
	status = "disabled";
};

&d0_i2c1 {
	status = "okay";
	tps549d22@10 {
		status = "okay";
		compatible = "ti,tps549d22";
		reg = <0x10>;
		eswin,regulator_default-microvolt=<700000>;
		label = "npu_vdd";
		regulators {
			d0_npu_vcc: npu_svcc {
				regulator-name = "NPU_SVCC";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1120000>;
				regulator-min-microamp = <20000000>;
				regulator-max-microamp = <40000000>;
				regulator-ov-protection-microvolt = <1100000>;
			};
		};
	};
};

&d1_i2c1 {
	status = "okay";
	tps549d22@10 {
		compatible = "ti,tps549d22";
		reg = <0x10>;
		eswin,regulator_default-microvolt=<700000>;
		label = "d1_npu_vdd";
		regulators {
			d1_npu_vcc: npu_svcc {
				regulator-name = "NPU_SVCC2";
				regulator-min-microvolt = <700000>;
				regulator-max-microvolt = <1120000>;
				regulator-min-microamp = <20000000>;
				regulator-max-microamp = <40000000>;
				regulator-ov-protection-microvolt = <1100000>;
			};
		};
	};
};

&d0_i2c2 {
	status = "ok";

	d0_touchpad: hid@2c {
		/* touch pad*/
		compatible = "hid-over-i2c";
		reg = <0x2c>;
		hid-descr-addr = <0x0020>;
		post-power-on-delay-ms = <200>;
		interrupt-parent = <&porta>;
		interrupts = <20 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_die0_gpio20_default>;
		irq-gpios = <&porta 20 GPIO_ACTIVE_LOW>;
		status = "okay";
	};

	cm32181_sensor: cm32181@10 {
		compatible = "capella,cm32181";
		reg = <0x10>;
		status = "okay";
	};

	cm32183_sensor: cm32183@29 {
		compatible = "capella,cm32183";
		reg = <0x29>;
		status = "okay";
	};
};

&d1_i2c2 {
	/* touch screen*/
	status = "disabled";
	d1_gt911:touchscreen@14 {
		compatible = "goodix,gt911";
		reg = <0x14>;
		interrupt-parent = <&d1_porta>;
		interrupts = <0 IRQ_TYPE_EDGE_RISING>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_die1_gpio0_default>;
		irq-gpios = <&d1_porta 0 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&d1_portd 15 GPIO_ACTIVE_HIGH>;
	};
};

&d0_i2c3 {
	/* mipi csi0/csi1 */
	status = "disabled";
};

&d1_i2c3 {
	status = "disabled";
};

&d0_i2c4 {
	/* mipi csi2/csi3 */
	status = "disabled";
};

&d1_i2c4 {
	status = "disabled";
};

&d0_i2c5 {
	/* mipi csi4/csi5 */
	status = "disabled";
};

&d1_i2c5 {
	status = "disabled";
};

&d0_i2c6 {
	/* unused */
	status = "disabled";
};

&d1_i2c6 {
	status = "disabled";
};

&d0_i2c7 {
	/* unused */
	status = "disabled";
};

&d1_i2c7 {
	status = "disabled";
};

&d0_i2c8 {
	/* io extended for mipi csi */
	status = "disabled";
};

&d1_i2c8 {
	status = "disabled";
};

&d0_i2c9 {
	/* unused */
	status = "disabled";
};

&d1_i2c9 {
	status = "disabled";
};

&d0_aon_i2c0 {
	/* ina226x3 */
	status = "okay";
	i2c-sda-hold-time-ns = <0x40>;
	ina226@40 {
		compatible = "ti,ina226";
		#io-channel-cells = <1>;
		label = "cpu_vdd";
		reg = <0x40>;
		shunt-resistor = <1000>;
	};
	ina226@41 {
		compatible = "ti,ina226";
		#io-channel-cells = <1>;
		label = "d0_lpddr_vdd";
		reg = <0x41>;
		shunt-resistor = <1000>;
	};
	ina226@44 {
		compatible = "ti,ina226";
		#io-channel-cells = <1>;
		label = "d0_soc_vdd";
		reg = <0x44>;
		shunt-resistor = <1000>;
	};
	tmp102@48 {
		compatible = "ti,tmp102";
		reg = <0x48>;
		label = "d0_board_tmp";
		#thermal-sensor-cells = <1>;
	};
};


&d1_aon_i2c0 {
	/* ina226x4 */
	status = "okay";
	i2c-sda-hold-time-ns = <0x40>;
	ina226@40 {
			compatible = "ti,ina226";
			#io-channel-cells = <1>;
			label = "vdd_dc_in";
			reg = <0x40>;
			shunt-resistor = <1000>;
		};
	ina226@41 {
			compatible = "ti,ina226";
			#io-channel-cells = <1>;
			label = "d1_lpddr_vdd";
			reg = <0x41>;
			shunt-resistor = <1000>;
		};
	ina226@44 {
			compatible = "ti,ina226";
			#io-channel-cells = <1>;
			label = "d1_soc_vdd";
			reg = <0x44>;
			shunt-resistor = <1000>;
		};
	tmp102@48 {
		compatible = "ti,tmp102";
		reg = <0x48>;
		label = "d1_board_tmp";
		#thermal-sensor-cells = <1>;
	};
};

&d1_aon_i2c1 {
	status = "disabled";
};

&pwm0 {
	/* fan */
	status = "okay";
};

&d1_pwm0 {
	status = "okay";
	clock-names = "pclk";
	clocks = <&d1_clock EIC7700_CLK_LSP_TIMER_PCLK>;
	pinctrl-names = "default";
	pinctrl-0 = <&d1_pinctrl_pwm0_default>;
};

&fan_control {
	status = "okay";
	pwms = <&pwm0 0 100000 PWM_POLARITY_INVERTED>;
};

&pvt0 {
	status = "okay";
};

&d1_pvt0 {
	status = "okay";
};

&pvt1 {
	status = "okay";
};

&d1_pvt1 {
	status = "okay";
};

&wdt0 {
	status = "disabled";
};

&d1_wdt0 {
	status = "disabled";
};

&wdt1 {
	status = "disabled";
};

&d1_wdt1 {
	status = "disabled";
};

&wdt2 {
	status = "disabled";
};

&d1_wdt2 {
	status = "disabled";
};

&wdt3 {
	status = "disabled";
};

&d1_wdt3 {
	status = "disabled";
};

&die0_rtc {
	status = "okay";
};

&d1_rtc {
	status = "okay";
};

&timer0 {
	status = "okay";
};

&d1_timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&d1_timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};

&d1_timer2 {
	status = "okay";
};

&timer3 {
	status = "okay";
};

&d1_timer3 {
	status = "okay";
};

&pinctrl {
	status = "okay";
};

&d1_pinctrl {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&d1_gpio0 {
	status = "okay";
};

&dev_llc_d0{
	/* apply_npu_1G_freq; */
	npu-supply=<&d0_npu_vcc>;
	status = "disabled";
};

&d1_llc_dev{
	/* apply_npu_1G_freq; */
	npu-supply=<&d1_npu_vcc>;
	status = "disabled";
};

&d2d {
	status = "okay";
};

&d1_d2d {
	status = "okay";
};

&pinctrl_die1_gpio69_default {
	mux {
		groups = "gpio69_group";
		function = "gpio69_func";
	};
	conf {
		groups = "gpio69_group";
		drive-strength = <2>;
		output-high;
		bias-pull-up = <1>;
		bias-pull-down = <0>;
	};
};

/* die0 GPIO Function Description

	gpio0   : pcie prstn(I)
	gpio11  : tmp alert(I)
	gpio13  : tf card detect(I)
	gpio14  : gphy1 resetn(O)
	gpio15  : gphy0 resetn(O)
	gpio18  : ina226 alert(I)
	gpio20  : lcd touch int(I)
	gpio21  : head phone plug/unplug detection2(I)
	gpio27  : black light pwr_en(O)
	gpio28  : head phone plug/unplug detection1(I)
	gpio68  : fan pwm(O)
	gpio69  : fan touch(I)
	gpio92  : frex gp0(O)
	gpio93  : frex gp1(O)
	gpio106 : mipi dsi resetn(O)
	gpio111 : lcd touch resetn(O)
*/
/* die1 GPIO Function Description

	gpio0   : lcd touch int(I)
	gpio13  : gphy0 resetn(O)
	gpio14  : gphy1 resetn(O)
	gpio15  : bt wake host(I)
	gpio16  : sdio wifi disable(O)
	gpio18  : sdio wifi wake host(I)
	gpio19  : pcie prstn(I)
	gpio20  : head phone plug/unplug detection2(I)
	gpio21  : mipi dsi resetn(O)
	gpio27  : tmp alert(I)
	gpio28  : head phone plug/unplug detection1(I)
	gpio68  : system led(O)
	gpio69  : black light pwr_en(O)
	gpio92  : frex gp0(O)
	gpio93  : frex gp1(O)
	gpio106 : host wak bt(O)
	gpio111 : lcd touch resetn(O)
*/
