// #include "eswin-win2030-die0-soc.dtsi"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
//&SOC {
&vi_subsys {
	vvcam_isp_0: vvcam_isp@0 {
		compatible = "verisilicon,isp-v4l2";
		id = <0>;
		status = "okay";
		dma-noncoherent;

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
				vvcam_isp_input_port: endpoint@0 {
					reg = <0>;
					remote-endpoint = <&mipi2_csi2_output1>;
				};
			};

			port@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;
				vvcam_isp_port0_mp: endpoint {
					remote-endpoint = <&vvcam_video0>;
				};
			};

			port@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;
				vvcam_isp_port0_sp1: endpoint {
					remote-endpoint = <&vvcam_video1>;
				};
			};

			port@3 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;
				vvcam_isp_port0_sp2: endpoint {
					remote-endpoint = <&vvcam_video2>;
				};
			};

			port@4 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <4>;
				vvcam_isp_port0_raw: endpoint {
					remote-endpoint = <&vvcam_video3>;
				};
			};
		};
	};

	vvcam_vb: vvcam-vb@0 {
		compatible = "verisilicon,vb";
		status = "okay";
		dma-noncoherent;
		dma-ranges = <0x0 0x20000000 0x0 0x80000000 0x0 0x40000000>;
		iommus = <&smmu0 WIN2030_SID_ISP0>;
	};

	vvcam_video_0: vvcam_video@0 {
		compatible = "verisilicon,video";
		id = <0>;
		status = "okay";

		dma-noncoherent;
		dma-ranges = <0x0 0x20000000 0x0 0x80000000 0x0 0x40000000>;
		iommus = <&smmu0 WIN2030_SID_ISP0>;
		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
				vvcam_video0: endpoint {
					remote-endpoint = <&vvcam_isp_port0_mp>;
				};
			};

			port@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;
				vvcam_video1: endpoint {
					remote-endpoint = <&vvcam_isp_port0_sp1>;
				};
			};

			port@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;
				vvcam_video2: endpoint {
					remote-endpoint = <&vvcam_isp_port0_sp2>;
				};
			};

			port@3 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <3>;
				vvcam_video3: endpoint {
					remote-endpoint = <&vvcam_isp_port0_raw>;
				};
			};
		};
	};
};
//};


// &d0_i2c8 {
// 	/* io extended for mipi csi */
// 	status = "okay";
// 	tca6416_0: gpio@20 {
// 		compatible = "ti,tca6416";
// 		reg = <0x20>;
// 		gpio-controller; /* IRQ not connected */
// 		#gpio-cells = <2>;
// 		gpio-line-names = "MIPI_CSI0_PWDN", "MIPI_CSI0_RESET", "MIPI_CSI1_FBC", "MIPI_CSI1_ENB",
// 				"MIPI_CSI1_RESET", "MIPI_CSI1_PWDN", "FREX_GP0", "",
// 				"MIPI_CSI0_ENB", "MIPI_CSI0_FBC", "FREX_GP2", "MIPI_CSI2_FBC",
// 				"MIPI_CSI2_ENB", "FREX_GP1", "MIPI_CSI2_RESET", "MIPI_CSI2_PWDN";
// 	};
// 	tca6416_1: gpio@21 {
// 		compatible = "ti,tca6416";
// 		reg = <0x21>;
// 		gpio-controller;
// 		#gpio-cells = <2>;
// 		/* IRQ not connected */
// 		gpio-line-names = "MIPI_CSI3_PWDN", "MIPI_CSI3_RESET", "MIPI_CSI3_ENB", "MIPI_CSI3_FBC",
// 				"MIPI_CSI4_PWDN", "MIPI_CSI4_RESET", "MIPI_CSI4_ENB", "MIPI_CSI4_FBC",
// 				"MIPI_CSI5_FBC", "MIPI_CSI5_ENB", "MIPI_CSI5_RESET", "MIPI_CSI5_PWDN",
// 				"", "", "", "";
// 	};
// };

&d0_i2c3 {
	/* mipi csi0/csi1 */
	status = "okay";
	
	imx327_0: imx327@36 {
			compatible = "sony,imx327";
			status = "okay";
			address-cells = <1>;
			size-cells = <0>;
			#reg = <0x0 0x36 0x0 0x0>;
			reg = <0x36>;
			clocks = <&d0_clock EIC7700_CLK_VI_SHUTTER_0>; 
			clock-frequency = <37125000>;
			#assigned-clocks = <&d0_clock EIC7700_CLK_VI_SHUTTER_0>;
			assigned-clock-rates = <37125000>;
			clock-names = "xvclk";
			/* Reset and power down GPIOs controlled by tca6416_0 */
			reset-gpios = <&tca6416_0 1 GPIO_ACTIVE_HIGH>;  // GPIO number 1 for MIPI_CSI0_RESET
			pwdn-gpios = <&tca6416_0 0 GPIO_ACTIVE_HIGH>; // GPIO number 0 for MIPI_CSI0_PWDN
			enable-gpios = <&tca6416_0 7 GPIO_ACTIVE_HIGH>;
			// reset-gpios = <&portd 1 GPIO_ACTIVE_HIGH>;  // GPIO number 1 for MIPI_CSI0_RESET
			// pwdn-gpios = <&portd 6 GPIO_ACTIVE_HIGH>; // GPIO number 0 for MIPI_CSI0_PWDN
			//pinctrl-names = "default";
			//pinctrl-0 = <&cif_clkout>;
			
			port {
				imx327_out0: endpoint {
					// remote-endpoint = <&mipi_in_ucam0>;
					remote-endpoint = <&mipidphy0_in_ucam0>;
					data-lanes = <1 2>;
					link-frequencies = /bits/ 64 <445500000>;
				};
			};
		};
};



&d0_i2c8 {
	/* io extended for mipi csi */
	status = "okay";
	tca6416_0: gpio@20 {
		compatible = "ti,tca6416";
		clock-frequency = <100000>;
		reg = <0x20>;
		gpio-controller; /* IRQ not connected */
		#gpio-cells = <2>;
		gpio-line-names = "MIPI_CSI0_PWDN", "MIPI_CSI0_RESET", "MIPI_CSI1_FBC", "MIPI_CSI1_ENB",
				"MIPI_CSI1_RESET", "MIPI_CSI1_PWDN", "FREX_GP0", "",
				"MIPI_CSI0_ENB", "MIPI_CSI0_FBC", "FREX_GP2", "MIPI_CSI2_FBC",
				"MIPI_CSI2_ENB", "FREX_GP1", "MIPI_CSI2_RESET", "MIPI_CSI2_PWDN";
		//vcc = <&gpio_vcc0>;
		status = "okay";
	};
	tca6416_1: gpio@21 {
		compatible = "ti,tca6416";
		reg = <0x21>;
		gpio-controller;
		#gpio-cells = <2>;
		/* IRQ not connected */
		gpio-line-names = "MIPI_CSI3_PWDN", "MIPI_CSI3_RESET", "MIPI_CSI3_ENB", "MIPI_CSI3_FBC",
				"MIPI_CSI4_PWDN", "MIPI_CSI4_RESET", "MIPI_CSI4_ENB", "MIPI_CSI4_FBC",
				"MIPI_CSI5_FBC", "MIPI_CSI5_ENB", "MIPI_CSI5_RESET", "MIPI_CSI5_PWDN",
				"", "", "", "";
		//vcc = <&gpio_vcc1>;
		status = "okay";
	};
};

&csi2_dphy_hw {
	status = "okay";
};

&csi2_dphy0 {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			#address-cells = <1>;
			#size-cells = <0>;

			mipidphy0_in_ucam0: endpoint {
				remote-endpoint = <&imx327_out0>;
				data-lanes = <1 2>;
			};
		};
		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			csidphy0_out: endpoint {
				remote-endpoint = <&mipi2_csi2_input>;
			};
		};

	};
};

&mipi_csi2_0 {
	status = "okay";
	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			#address-cells = <1>;
			#size-cells = <0>;	
			reg = <0>;
			mipi2_csi2_input: endpoint {
				remote-endpoint = <&csidphy0_out>;
				data-lanes = <1 2>;
			};
		};

		port@1 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			mipi2_csi2_output: endpoint {
				remote-endpoint = <&axi2dvp_mipi2_in0>;
			};
		};

		port@2 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <2>;
			mipi2_csi2_output1: endpoint {
				remote-endpoint = <&vvcam_isp_input_port>;
			};
		};
	};
};



&dvp2axi {
	status = "okay";
};

&dvp2axi_mipi_lvds {
	status = "okay";
	ports{
		#address-cells = <1>;
        #size-cells = <0>;
		port@0 {
			#address-cells = <1>;
        	#size-cells = <0>;
			reg = <0>;
			axi2dvp_mipi2_in0: endpoint {
				remote-endpoint = <&mipi2_csi2_output>;
			};
		};
	};
	
};


