// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree file for Eswin EIC7700 SoC.
 *
 * Copyright 2024, Beijing ESWIN Computing Technology Co., Ltd.. All rights reserved.
 * SPDX-License-Identifier: GPL-2.0
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 2.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

/dts-v1/;

#define RTCCLK_FREQ		1000000
#define LSPCLK_FREQ		200000000

/* If wanna enable ECC capability of DDR, should reserve highest zone of 1/8 all space for it */
#define MEMORY_SIZE_H		0x4
#define MEMORY_SIZE_L		0x0
#define CMA_SIZE		0x10000000

#include "eswin-win2030-die0-soc.dtsi"
#include "eic7700-pinctrl.dtsi"
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/gpio/gpio.h>

/* Clock frequency (in Hz) of the PCB crystal for rtcclk */

/ {
	#address-cells = <2>;
	#size-cells = <2>;
	model = "ESWIN EIC7700";
	compatible = "sifive,hifive-unmatched-a00", "sifive,fu740-c000",
		     "sifive,fu740", "eswin,eic7700";

	aliases {
		serial0 = &d0_uart0;
		ethernet0 = &d0_gmac0;
		ethernet1 = &d0_gmac1;
	};

	chosen {
		stdout-path = "serial0:115200n8";
	};

	cpus {
		timebase-frequency = <RTCCLK_FREQ>;
	};

	memory@59000000 {
		device_type = "memory";
		reg = <0x0 0x59000000 0x0 0x400000>;
		numa-node-id = <0>;
	};

	memory@80000000 {
		device_type = "memory";
		reg = <0x0 0x80000000 MEMORY_SIZE_H MEMORY_SIZE_L>;
		numa-node-id = <0>;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		linux,cma {
			compatible = "shared-dma-pool";
			reusable;
			size = <0x0 CMA_SIZE>;
			alignment = <0x0 0x1000>;
			alloc-ranges = <0x0 0x80000000 MEMORY_SIZE_H MEMORY_SIZE_L>;
			linux,cma-default;
		};

		npu0_reserved: sprammemory@59000000 {
			no-map;
			reg = <0x0 0x59000000 0x0 0x400000>;
		};

		lpcpu0_reserved: lpcpu@a0000000 {
			no-map;
			reg = <0x0 0xa0000000 0x0 0x100000>;
		};

		g2d_4GB_boundary_reserved_4k {
			no-map;
			reg = <0x0 0xfffff000 0x0 0x1000>;
		};

		mmz_nid_0_part_0 {
			compatible = "eswin-reserve-memory";
			reg = <0x1 0x40000000 0x2 0x80000000>;
			no-map;
		};

		mmz_nid_0_part_1 {
			compatible = "eswin-reserve-memory";
			reg = <0x3 0xf0000000 0x0 0x10000000>;
			no-map;
		};
	};

	soc {
		reset_test@1e00e000 {
			compatible	= "reset_test";
			resets = <&d0_reset SCPU_RST_CTRL SW_SCPU_BUS_RSTN>,
					 <&d0_reset SCPU_RST_CTRL SW_SCPU_CORE_RSTN>,
					 <&d0_reset SCPU_RST_CTRL SW_SCPU_DBG_RSTN>;
			reset-names = "bus", "core", "dbg";
		};
	};
};

&d0_clock {
	status = "okay";
};

&d0_reset {
	status = "okay";
};

&d0_pmu {
	status = "okay";
};

&ddr0 {
	status = "okay";
};

&ddr1 {
	status = "okay";
};

&smmu0 {
	status = "okay";
};

&smmu_pmu0 {
	status = "disabled";
};

&dev_foo_a {
	status = "okay";
};

&d0_cfg_noc {
	status = "okay";
};

&d0_llc_noc {
	status = "okay";
	stat,0 = "TracePort:ddr0_p0_req";
	stat,1 = "TracePort:ddr1_p0_req";
	//latency,0 = "TracePort:llcnoc_trans_probe";
	//pending,0 = "TracePort:llcnoc_trans_probe";
};

&d0_sys_noc {
	status = "okay";

	//eswin,DSPT-qos-owner;
	//eswin,NPU-qos-owner;
	//eswin,SPISLV_TBU3-qos-owner;

	stat,0 = "TracePort:ddr0_p1_req",
		 "InitFlow:mcput_snoc_mp/I/0";

	stat,1 = "TracePort:ddr0_p2_req",
		 "InitFlow:dspt_snoc/I/0",
		 "AddrBase:0x81000000", "AddrSize:0x30",
		 "Opcode:RdWrLockUrg", "Status:ReqRsp", "Length:0x8000", "Urgency:0x0";

	stat,2 = "TracePort:ddr1_p1_req",
		 "Status:Req", "AddrSize:0x28";

	stat,3 = "TracePort:ddr1_p2_req";

	latency,0 = "TracePort:sysnoc_trans_probe_0", "AddrSize:0x0";
	latency,1 = "TracePort:sysnoc_trans_probe_1","Mode:latency","AddrBase:0x82000000","AddrSize:0x28","Opcode:RdWr";
	//latency,2 = "TracePort:sysnoc_trans_probe_2";

	//pending,0 = "TracePort:sysnoc_trans_probe_0";
	//pending,1 = "TracePort:sysnoc_trans_probe_1","Mode:latency","AddrBase:0x82000000","AddrSize:0x0","Opcode:RdWr";
	pending,0 = "TracePort:sysnoc_trans_probe_2", "AddrSize:0x3";
};

&d0_media_noc {
	status = "okay";

	//eswin,GPU-qos-owner;
	//eswin,TBU2-qos-owner;
	//eswin,VC-qos-owner;

	stat,0 = "TracePort:ddr0_p3_req";
	stat,1 = "TracePort:ddr1_p3_req";
	//latency,0 = "TracePort:mnoc_trans_probe";
	//pending,0 = "TracePort:mnoc_trans_probe";
};

&d0_realtime_noc {
	status = "okay";

	//eswin,TBU0-qos-owner;
	//eswin,VO-qos-owner;

	stat,0 = "TracePort:ddr0_p4_req";
	stat,1 = "TracePort:ddr1_p4_req";
	//latency,0 = "TracePort:rnoc_trans_probe";
	//pending,0 = "TracePort:rnoc_trans_probe";
};

&d0_noc_wdt {
	status = "okay";
};

&d0_ipc_scpu {
	status = "okay";
};

&d0_lpcpu {
	status = "disabled";
};

&pcie {
	/* GPIO12 PCIE PRSNT input */
	status = "okay";
};

&d0_npu{
	status = "okay";
};

&d0_dsp_subsys {
	status = "okay";
};

&d0_dsp0 {
	status = "okay";
};

&d0_dsp1 {
	status = "okay";
};

&d0_dsp2 {
	status = "okay";
};

&d0_dsp3 {
	status = "okay";
};

&gpu0 {
	status = "okay";
};

&gc820 {
	status = "okay";
};

&vdec0 {
	status = "okay";
};

&venc0 {
	status = "okay";
};

&video_output {
	status = "okay";
};

&dc {
	status = "okay";
};

&dc_test {
    status = "disabled";
};

&virtual_display {
    status = "okay";
};

&dsi_output {
    status = "okay";
};

&dsi_controller {
    status = "okay";
};

&dsi_panel {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio82_default &pinctrl_gpio85_default>;
	backlight0-gpios = <&portc 18 GPIO_ACTIVE_HIGH>;
	rst-gpios = <&portc 21 GPIO_ACTIVE_HIGH>;
};

&dw_hdmi {
	status = "okay";
	eswin-plat = <1>;
	ports {
		port@2 {
			reg = <2>;
			hdmi_in_i2s: endpoint@1 {
				system-clock-frequency = <12288000>;
				remote-endpoint = <&d0_i2s0_endpoint>;
			};
		};
	};
};

&dw_hdmi_hdcp2 {
    status = "okay";
};

&d0_i2s0 {
	/* connect M.2 KEY E */
	status = "okay";
	eswin-plat = <1>;
	d0_i2s0_port: port {
		d0_i2s0_endpoint: endpoint {
			remote-endpoint = <&hdmi_in_i2s>;
			dai-format = "i2s";
		};
	};
};

&d0_i2s1 {
	status = "okay";
	eswin-plat = <1>;
	d0_i2s1_port: port {
		d0_i2s1_endpoint: endpoint {
			remote-endpoint = <&d0_codec0_endpoint>;
			dai-format = "i2s";
		};
	};
};

&d0_i2s2 {
	/* connect WIFI module */
	status = "disabled";
};

&d0_graphcard0 {
	status = "okay";
	dais = <&d0_i2s1_port>;
};

&d0_graphcard1 {
	status = "okay";
	dais = <&d0_i2s0_port>;
};

&d0_graphcard2 {
	status = "disabled";
};

&isp_0 {
	status = "disabled";
};

&isp_1 {
	status = "disabled";
};

&dewarp {
	status = "okay";
};

&mipi_dphy_rx {
	status = "disabled";
};

&csi_dma0 {
	status = "disabled";
};

&csi_dma1 {
	status = "disabled";
};

&csi2_0 {
	status = "disabled";
};

&csi2_1 {
	status = "disabled";
};

&sdhci_emmc {
	/* emmc */
	status = "okay";
	delay_code = <0x17>;
	drive-impedance-ohm = <50>;
	enable-cmd-pullup;
	enable-data-pullup;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_emmc_led_control_default>;
	no-sdio;
	no-sd;
};

&sdio0 {
	/* sd card */
	status = "okay";
	delay_code = <0x29>;
	drive-impedance-ohm = <33>;
	enable-cmd-pullup;
	enable-data-pullup;
	no-sdio;
	no-mmc;
};

&sdio1 {
	/* wifi module */
	status = "okay";
	delay_code = <0x29>;
	drive-impedance-ohm = <33>;
	enable-cmd-pullup;
	enable-data-pullup;
	non-removable;
	no-sd;
	no-mmc;
};

&d0_gmac0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio106_default>;
	rst-gpios = <&portd 10 GPIO_ACTIVE_LOW>;
	eswin,rgmiisel = <&pinctrl 0x290 0x3>;
	eswin,led-cfgs = <0x6100 0xa40 0x420>;
};

&d0_gmac1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio111_default>;
	rst-gpios = <&portd 15 GPIO_ACTIVE_LOW>;
	eswin,rgmiisel = <&pinctrl 0x294 0x3>;
	eswin,led-cfgs = <0x6100 0xa40 0x420>;
};

&d0_sata {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sata_act_led_default>;
};

&d0_usbdrd3_0 {
	status = "okay";
};

&d0_usbdrd_dwc3_0 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
};

&d0_usbdrd3_1 {
	status = "okay";
};

&d0_usbdrd_dwc3_1 {
	status = "okay";
	dr_mode = "host";
	maximum-speed = "super-speed";
	usb-hub {
		gpio-hog;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio43_default>;
		gpios = <&portb 11 GPIO_ACTIVE_HIGH>;
		output-low;
		line-name = "usb-hub-reset";
	};
};

&d0_dmac0 {
	status = "okay";
};

&d0_aon_dmac {
	status = "okay";
};

&d0_uart0 {
	/* debug */
	status = "okay";
};

&d0_uart1 {
	/* M.2 KEY E */
	status = "okay";
};

&d0_uart2 {
	/* connect MCU */
	status = "okay";
};

&d0_uart3 {
	/* pin header mux with GPIO 92,93 */
	status = "disabled";
};

&d0_uart4 {
	/* unused */
	status = "disabled";
};

&ssi0 {
	/* pin header mux with GPIO 35,36,37,38,39,40 */
	status = "disabled";
};

&ssi1 {
	/* unused */
	status = "disabled";
};

&bootspi {
	/* spi flash */
	status = "okay";
	num-cs = <1>;
	cs-gpios = <&portd 0 GPIO_ACTIVE_LOW>;
	wp-gpios = <&portd 4 GPIO_ACTIVE_LOW>;
	spi-flash@0 {
		compatible = "winbond,w25q128jw",
					"jedec,spi-nor";
		reg = <0>;
		#address-cells = <1>;
		#size-cells = <1>;
		spi-max-frequency = <4800000>;
		rx-sample-delay-ns = <10>;
	};
};

&d0_mbox0 {
	status = "okay";
};

&d0_mbox1 {
	status = "okay";
};

&d0_mbox2 {
	status = "okay";
};

&d0_mbox3 {
	status = "okay";
};

&d0_mbox4 {
	status = "okay";
};

&d0_mbox5 {
	status = "okay";
};

&d0_mbox6 {
	status = "okay";
};

&d0_mbox7 {
	status = "okay";
};

&fan_control {
	status = "okay";
};

&d0_i2c0 {
	/* codec es8388 */
	status = "okay";
	d0_es8388_0: es8388-0@11 {
		compatible = "eswin,es8388";
		reg = <0x11>;
		#sound-dai-cells = <0>;
		eswin-plat = <2>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio0_default &pinctrl_gpio28_default>;
		front-jack-gpios = <&porta 0 GPIO_ACTIVE_HIGH>;
		back-jack-gpios = <&porta 28 GPIO_ACTIVE_HIGH>;
		port {
			d0_codec0_endpoint: endpoint {
				system-clock-frequency = <12288000>;
				remote-endpoint = <&d0_i2s1_endpoint>;
			};
		};
	};
};

&d0_i2c1 {
	/* pin header mux with GPIO 46,47 */
	status = "disabled";
};

&d0_i2c2 {
	/* mipi dsi touch ctrl con */
	status = "disabled";
};

&d0_i2c3 {
	/* FUSB303B cc logic */
	status = "okay";
	fusb303b@21 {
		compatible = "fcs,fusb303b";
		status = "okay";
		reg = <0x21>;
		eswin,syscfg = <&d0_sys_con 0x3C0 12>;

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio5_default>;
		int-gpios = <&porta 5 GPIO_ACTIVE_HIGH>;
		connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "host";
		};
	};

};

&d0_i2c4 {
	/* unused */
	status = "disabled";
};

&d0_i2c5 {
	/* PCA9548 */
	status = "okay";
};

&d0_i2c6 {
	/* unused */
	status = "disabled";
};

&d0_i2c7 {
	/* unused */
	status = "disabled";
};

&d0_i2c8 {
	/* unused */
	status = "disabled";
};

&d0_i2c9 {
	/* unused */
	status = "disabled";
};

&d0_aon_i2c0 {
	/* AT24C02C EEPROM */
	status = "okay";
	eswin,syscfg = <&d0_sys_con 0x3C0 16>;
	aon_eeprom@50 {
		compatible = "atmel,24c02";
		reg = <0x50>;
	};
};

&d0_aon_i2c1 {
	/* PCA9450 & SiC451 & INA226 & PAC1934 */
	status = "okay";
	eswin,syscfg = <&d0_sys_con 0x3C0 15>;
	iic_hold_time = <0x40>;
	pac1934:pmic@10 {
		compatible = "microchip,pac1934";
		/*update all register data*/
		update_time_ms = <1000>;
		eswin,chan_label = "som vdd", "soc vdd", "cpu vdd", "ddr lpvdd";
		label = "som_info";
		/*The update number of times the energy accumulates*/
		energy_acc_count = <0>;
		shunt_resistors=<1 1 1 1>;
		reg = <0x10>;
	};

	sys_power:ina226@44 {
		compatible = "ti,ina226";
		#io-channel-cells = <1>;
		label = "sys_power";
		reg = <0x44>;
		shunt-resistor = <1000>;
	};

	mpq8785@12 {
		compatible = "mps,mpq8785";
		reg = <0x12>;
		eswin,regulator_default-microvolt=<1000000>;
		eswin,regulator_label = "supply vdd1", "npu vdd1", "npu current1", "npu temperature1";
		label = "npu_vdd";
		regulators{
			npu_vcc1:npu_svcc{
				regulator-name="NPU_SVCC";
				regulator-min-microvolt=<700000>;
				regulator-max-microvolt=<1100000>;
				regulator-min-microamp=<20000000>;
				regulator-max-microamp=<40000000>;
				regulator-ov-protection-microvolt=<1100000>;
				regulator-always-on;
			};
		};
	};
};

&pwm0 {
	/* fan */
	status = "okay";
};

&pvt0 {
	status = "okay";
};

&pvt1 {
	status = "okay";
};

&wdt0 {
	status = "disabled";
};

&wdt1 {
	status = "disabled";
};

&wdt2 {
	status = "disabled";
};

&wdt3 {
	status = "disabled";
};

&die0_rtc {
	status = "okay";
};

&timer0 {
	status = "okay";
};

&timer1 {
	status = "okay";
};

&timer2 {
	status = "okay";
};

&timer3 {
	status = "okay";
};

&pinctrl {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpio6_default &pinctrl_gpio7_default &pinctrl_gpio8_default &pinctrl_gpio9_default
			&pinctrl_gpio10_default &pinctrl_gpio17_default &pinctrl_gpio35_default &pinctrl_gpio36_default
			&pinctrl_gpio37_default &pinctrl_gpio38_default &pinctrl_gpio39_default &pinctrl_gpio40_default
			&pinctrl_gpio41_default &pinctrl_gpio46_default &pinctrl_gpio52_default
			&pinctrl_gpio53_default &pinctrl_gpio64_default &pinctrl_gpio65_default &pinctrl_gpio66_default
			&pinctrl_gpio67_default &pinctrl_gpio70_default &pinctrl_gpio73_default &pinctrl_gpio83_default
			&pinctrl_gpio86_default &pinctrl_gpio87_default &pinctrl_gpio92_default &pinctrl_gpio93_default>;

    /* pin header default function for GPIO
       SPI1 (CS0,SCLK,MOSI,MISO,D2,D3): GPIO 35,36,37,38,39,40
       I2C1 (SCL,SDA): GPIO 46,47
       UART3(TX,RX): GPIO 92,93
    */
};

/*
GPIO USED ON CarrierBoard:
	gpio0   : FP Audio Jack Sense(I), active low
	gpio5   : TYPE C cc logic interrupt(I), active low
	gpio11  : BT WAKE HOST(I), active low
	gpio12  : PCIE present(I), active low
	gpio14  : DSI FPC CON CTRL(J10&J11)
	gpio15  : Wlan wake host(I), active low
	gpio28  : RP audio jack sense(I), active low
	gpio29  : EMMC active led ctrl(O)

	gpio43  : USB3.2 Gen1 hub Resetn(O), active low
	gpio71  : CSI fpc con ctrl(O)
	gpio74  : CSI fpc con ctrl(O)
	gpio77  : CSI fpc con ctrl(O)
	gpio76  : HOST WAKE BT(O), active low
	gpio79  : WLAN POWER ON(O), active high
	gpio80  : CSI fpc con ctrl(O)
	gpio82  : DSI FPC CON CTRL(J10)
	gpio85  : DSI FPC CON CTRL(J11)
	gpio84  : GPIO LED CTRL(O), active high

 GPIO USED ON SOM:
	gpio18  : HOST WAKE WLAN(O), active low
	gpio19  : HOST WAKE BT(O), active low
	gpio20  : WLAN WAKE HOST(I), active low
	gpio21  : BT WAKE HOST(I), active low
	gpio106 : gphy0 resern(O), active low
	gpio111 : gphy1 resern(O), active low

*/

&gpio0 {
	status = "okay";
};
