/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target =  <&vi_subsys>;
		__overlay__ {
			phy_mode = <5>;
		};
	};

	fragment@1 {
		target = <&mipi_csi2_0>;
		__overlay__ {
			num_lanes = <2>;
		};
	};

	fragment@2 {
		target = <&mipi_csi2_2>;
		__overlay__ {
			num_lanes = <2>;
		};
	};

	fragment@3 {
		target = <&d1_mipi_csi2_0>;
		__overlay__ {
			num_lanes = <2>;
		};
	};

	fragment@4 {
		target = <&d1_mipi_csi2_2>;
		__overlay__ {
			num_lanes = <2>;
		};
	};

	fragment@5 {
		target = <&csi2_dphy_hw0>;
		__overlay__ {
			lanes = <1 2>;
			lanes-dp-dn = <0 0>;
		};
	};

	fragment@6 {
		target = <&csi2_dphy_hw2>;
		__overlay__ {
			lanes = <1 2>;
			lanes-dp-dn = <0 0>;
		};
	};

	fragment@7 {
		target = <&d1_csi2_dphy_hw0>;
		__overlay__ {
			lanes = <1 2>;
			lanes-dp-dn = <0 0>;
		};
	};

	fragment@8 {
		target = <&d1_csi2_dphy_hw2>;
		__overlay__ {
			lanes = <1 2>;
			lanes-dp-dn = <0 0>;
		};
	};

    fragment@9 {
		target =  <&camera_imx219>;
		__overlay__ { 
			status = "disabled";
		};
	};

	fragment@10 {
		target =  <&camera_imx219_1>;
		__overlay__ { 
			status = "disabled";
		};
	};

    fragment@11 {
		target =  <&d1_camera_imx219>;
		__overlay__ { 
			status = "disabled";
		};
	};

	fragment@12 {
		target =  <&d1_camera_imx219_1>;
		__overlay__ { 
			status = "disabled";
		};
	};

	fragment@13 { 
		target = <&mipidphy0_in_ucam0>;
		__overlay__ {
			remote-endpoint = <&imx708_out0>;
			data-lanes = <1 2>;
		};
	};

	fragment@14 {
		target = <&mipidphy2_in_ucam0>;
		__overlay__ {
			remote-endpoint = <&imx708_out1>;
			data-lanes = <1 2>;
		};
	};

	fragment@15 {
		target = <&d1_mipidphy0_in_ucam0>;
		__overlay__ {
			remote-endpoint = <&d1_imx708_out0>;
			data-lanes = <1 2>;
		};
	};

	fragment@16 {
		target = <&d1_mipidphy2_in_ucam0>;
		__overlay__ {
			remote-endpoint = <&d1_imx708_out1>;
			data-lanes = <1 2>;
		};
	};

	fragment@17 {
		target = <&csi2_dphy0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@18 {
		target = <&csi2_dphy2>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@19 {
		target = <&d1_csi2_dphy0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@20 {
		target = <&d1_csi2_dphy2>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@21 {
		target = <&d0_i2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			imx708_0:imx708@1a {
				compatible = "sony,imx708";
				reg = <0x1a>;
				clock-names="inclk";
				clocks = <&d0_clock 0x244>;
				assigned-clocks = <&d0_clock 0x244>;
				assigned-clock-rates = <24000000>;
				reset-gpio = <&portc 8 0>;
				status = "okay";
				port {
					imx708_out0: endpoint {
						remote-endpoint = <&mipidphy0_in_ucam0>;
						data-lanes = <1 2>;
						link-frequencies = /bits/ 64 <450000000>;
					};
				};
			};
		};
	};

	fragment@22 {
		target = <&d0_i2c4>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			imx708_1:imx708@1a {
				compatible = "sony,imx708";
				reg = <0x1a>;
				clock-names="inclk";
				clocks = <&d0_clock 0x244>;
				assigned-clocks = <&d0_clock 0x244>;
				assigned-clock-rates = <24000000>;
				reset-gpio = <&portc 14 0>;
				status = "okay";
				port {
					imx708_out1: endpoint {
						remote-endpoint = <&mipidphy2_in_ucam0>;
						data-lanes = <1 2>;
						link-frequencies = /bits/ 64 <450000000>;
					};
				};
			};
		};
	};

	fragment@23 {
		target = <&d1_i2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			d1_imx708_0: imx708@1a {
				compatible = "sony,imx708";
				reg = <0x1a>;
				clock-names="inclk";
				clocks = <&d1_clock 0x244>;
				assigned-clocks = <&d1_clock 0x244>;
				assigned-clock-rates = <24000000>;
				reset-gpio = <&d1_portc 8 0>;
				status = "okay";
				port {
					d1_imx708_out0: endpoint {
						remote-endpoint = <&d1_mipidphy0_in_ucam0>;
						data-lanes = <1 2>;
						link-frequencies = /bits/ 64 <450000000>;
					};
				};
			};
		};
	};

	fragment@24 {
		target = <&d1_i2c4>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			d1_imx708_1: imx708@1a {
				compatible = "sony,imx708";
				reg = <0x1a>;
				clock-names="inclk";
				clocks = <&d1_clock 0x244>;
				assigned-clocks = <&d1_clock 0x244>;
				assigned-clock-rates = <24000000>;
				reset-gpio = <&d1_portc 14 0>;
				status = "okay";
				port {
					d1_imx708_out1: endpoint {
						remote-endpoint = <&d1_mipidphy2_in_ucam0>;
						data-lanes = <1 2>;
						link-frequencies = /bits/ 64 <450000000>;
					};
				};
			};
		};
	};
};

