/dts-v1/;
/plugin/;

/ {
    fragment@0 {
		target =  <&imx219_0>;
		__overlay__ { 
			status = "disabled";
		};
	};

	fragment@1 {
		target =  <&imx219_1>;
		__overlay__ { 
			status = "disabled";
		};
	};

    fragment@2 {
		target =  <&imx219_2>;
		__overlay__ { 
			status = "disabled";
		};
	};

	fragment@3 { 
		target = <&mipidphy0_in_ucam0>;
		__overlay__ {
			remote-endpoint = <&imx586_out0>;
			data-lanes = <1 2 3 4>;
		};
	};

	fragment@4 {
		target = <&mipidphy2_in_ucam0>;
		__overlay__ {
			remote-endpoint = <&imx586_out1>;
			data-lanes = <1 2 3 4>;
		};
	};

	fragment@5 {
		target = <&mipidphy4_in_ucam0>;
		__overlay__ {
			remote-endpoint = <&imx586_out2>;
			data-lanes = <1 2 3 4>;
		};
	};

	fragment@6 {
		target = <&csi2_dphy0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@7 {
		target = <&csi2_dphy2>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@8 {
		target = <&csi2_dphy4>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target = <&d0_i2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			imx586_0:imx586_0@37 {
				compatible = "sony,imx586";
				reg = <0x37>;
				clock-names="xvclk";
				clocks = <&d0_clock 0x244>;
				assigned-clocks = <&d0_clock 0x244>;
				assigned-clock-rates = <37125000>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_gpio71_default>;
				reset-gpio = <&portc 7 0>;
				status = "okay";
				port {
					imx586_out0: endpoint {
						remote-endpoint = <&mipidphy0_in_ucam0>;
						data-lanes = <1 2 3 4>;
						link-frequencies = /bits/ 64 <625000000>;
					};
				};
			};
		};
	};

	fragment@10 {
		target = <&d0_i2c4>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			imx586_1:imx586_1@37 {
				compatible = "sony,imx586";
				reg = <0x37>;
				clock-names="xvclk";
				clocks = <&d0_clock 0x244>;
				assigned-clocks = <&d0_clock 0x244>;
				assigned-clock-rates = <37125000>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_gpio77_default>;
				reset-gpio = <&portc 13 0>;
				status = "okay";
				port {
					imx586_out1: endpoint {
						remote-endpoint = <&mipidphy2_in_ucam0>;
						data-lanes = <1 2 3 4>;
						link-frequencies = /bits/ 64 <625000000>;
					};
				};
			};
		};
	};

    fragment@11 {
		target = <&d0_i2c5>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			imx586_2:imx586_2@37 {
				compatible = "sony,imx586";
				reg = <0x37>;
				clock-names="xvclk";
				clocks = <&d0_clock 0x244>;
				assigned-clocks = <&d0_clock 0x244>;
				assigned-clock-rates = <37125000>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_gpio83_default>;
				reset-gpio = <&portc 19 0>;
				status = "okay";
				port {
					imx586_out2: endpoint {
						remote-endpoint = <&mipidphy4_in_ucam0>;
						data-lanes = <1 2 3 4>;
						link-frequencies = /bits/ 64 <625000000>;
					};
				};
			};
		};
	};
};

