/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target =  <&vi_subsys>;
		__overlay__ {
			phy_mode = <5>;
		};
	};

	fragment@1 {
		target =  <&imx219_0>;
		__overlay__ { 
			status = "disabled";
		};
	};

	fragment@2 {
		target =  <&imx219_1>;
		__overlay__ { 
			status = "disabled";
		};
	};

	fragment@3 { 
		target = <&csi2_dphy_hw0>;
		__overlay__ {
			lanes = <1 2>;
			lanes-dp-dn = <0 0>; 
			status = "okay";
		};
	};

	fragment@4 { 
		target = <&csi2_dphy_hw2>;
		__overlay__ {
			lanes = <1 2>;
			lanes-dp-dn = <0 0>; 
			status = "okay";
		};
	};

	fragment@5 { 
		target = <&mipidphy0_in_ucam0>;
		__overlay__ {
			remote-endpoint = <&ov5647_out0>;
			data-lanes = <1 2>;
		};
	};

	fragment@6 {
		target = <&mipidphy2_in_ucam0>;
		__overlay__ {
			remote-endpoint = <&ov5647_out1>;
			data-lanes = <1 2>;
		};
	};

	fragment@7 {
		target = <&csi2_dphy0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@8 {
		target = <&csi2_dphy2>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@9 {
		target =  <&d0_i2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			ov5647_0: ov5647_0@36 {
				compatible = "ovti,ov5647";
				status = "okay";
				address-cells = <1>;
				size-cells = <0>;
				reg = <0x36>;
				clocks = <&d0_clock 0x244>;
				assigned-clocks = <&d0_clock 0x244>;
				assigned-clock-rates = <25000000>;
				clock-names = "xclk";

				port {
					ov5647_out0: endpoint {
						remote-endpoint = <&mipidphy0_in_ucam0>;
						data-lanes = <1 2>;
						link-frequencies = /bits/ 64 <218500000>;
					};
				};
			};
		};
	};

	fragment@10 {
		target =  <&d0_i2c2>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			ov5647_1: ov5647_1@36 {
				compatible = "ovti,ov5647";
				status = "okay";
				address-cells = <1>;
				size-cells = <0>;
				reg = <0x36>;
				clocks = <&d0_clock 0x244>;
				assigned-clocks = <&d0_clock 0x244>;
				assigned-clock-rates = <25000000>;
				clock-names = "xclk";

				port {
					ov5647_out1: endpoint {
						remote-endpoint = <&mipidphy2_in_ucam0>;
						data-lanes = <1 2>;
						link-frequencies = /bits/ 64 <218500000>;
					};
				};
			};
		};
	};
};