/* SPDX-License-Identifier: GPL-2.0 */
/*
 * Copyright 2026, Beijing ESWIN Computing Technology Co., Ltd.. All rights reserved.
 *
 */

/dts-v1/;
/plugin/;

/ {
	fragment@0 {
		target = <&mipidphy0_in_ucam0>;
		__overlay__ {
			remote-endpoint = <&imx258_out0>;
			data-lanes = <1 2 3 4>;
		};
	};

	fragment@1 {
		target = <&mipidphy2_in_ucam0>;
		__overlay__ {
			remote-endpoint = <&imx258_out1>;
			data-lanes = <1 2 3 4>;
		};
	};

	fragment@2 {
		target = <&csi2_dphy0>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@3 {
		target = <&csi2_dphy2>;
		__overlay__ {
			status = "okay";
		};
	};

	fragment@4 {
		target = <&d0_i2c3>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			camera0:camera0@1a {
				compatible = "sony,imx258";
				reg = <0x1a>;
				clock-names="xvclk";
				clocks = <&d0_clock 0x244>;
				assigned-clocks = <&d0_clock 0x244>;
				assigned-clock-rates = <24000000>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_gpio72_default>;
				reset-gpio = <&portc 8 0>;
				power-domains = <&d0_pmu 2>;
				status = "okay";
				port {
					imx258_out0: endpoint {
						remote-endpoint = <&mipidphy0_in_ucam0>;
						data-lanes = <1 2 3 4>;
						link-frequencies = /bits/ 64 <891000000>;
					};
				};
			};
		};
	};

	fragment@5 {
		target = <&d0_i2c2>;
		__overlay__ {
			#address-cells = <1>;
			#size-cells = <0>;
			camera1:camera1@1a {
				compatible = "sony,imx258";
				reg = <0x1a>;
				clock-names="xvclk";
				clocks = <&d0_clock 0x244>;
				assigned-clocks = <&d0_clock 0x244>;
				assigned-clock-rates = <24000000>;
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_gpio78_default>;
				reset-gpio = <&portc 14 0>;
				power-domains = <&d0_pmu 2>;
				status = "okay";
				port {
					imx258_out1: endpoint {
						remote-endpoint = <&mipidphy2_in_ucam0>;
						data-lanes = <1 2 3 4>;
						link-frequencies = /bits/ 64 <891000000>;
					};
				};
			};
		};
	};

	fragment@6 {
		target = <&imx219_0>;
		__overlay__ {
			status="disabled";
		};
	};

	fragment@7 {
		target = <&imx219_1>;
		__overlay__ {
			status="disabled";
		};
	};

	fragment@8 {
		target = <&csi2_dphy_hw0>;
		__overlay__ {
			lanes = <1 2 3 4>;
			lanes-dp-dn = <0 0 0 0>;
		};
	};

	fragment@9 {
		target = <&csi2_dphy_hw2>;
		__overlay__ {
			lanes = <1 2 3 4>;
			lanes-dp-dn = <0 0 0 0>;
		};
	};

	fragment@10 {
		target = <&vi_subsys>;
		__overlay__ {
			phy_mode = <2>;
		};
	};
};