/* SPDX-License-Identifier: GPL-2.0 */
/*
 * Copyright 2026, Beijing ESWIN Computing Technology Co., Ltd.. All rights reserved.
 *
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
/ {
	fragment@0 {
		target =  <&dc_out>;
		__overlay__ {
			dc_out_dsi: endpoint@0 {
				reg = <0>;
				remote-endpoint = <&dsi_input>;
			};
		};
	};

	fragment@1 {
		target =  <&video_output>;
		__overlay__ {
			power-supply = <&reg_display>;
		};
	};

	fragment@2 {
		target =  <&SOC>;
		__overlay__ {
			panel_disp:panel_disp {
				compatible = "raspberrypi,7inch-dsi";
				status = "okay";
				backlight = <&reg_display>;
				power-supply = <&reg_display>;
				port {
					panel_in: endpoint {
						remote-endpoint = <&bridge_out>;
					};
				};
			};
		};
	};

	fragment@3 {
		target =  <&d0_i2c2>;
		__overlay__ {
			status = "okay";
			reg_display: regulator@45 {
				compatible = "raspberrypi,7inch-touchscreen-panel-regulator";
				reg = <0x45>;
				gpio-controller;
				#gpio-cells = <2>;
			};
		};
	};

    fragment@4 {
		target =  <&dsi_controller>;
		__overlay__ {
			status = "okay";
			dependencies = <&panel_disp>;
			pinctrl-names = "default";
			pinctrl-0 = <&pinctrl_gpio28_default>;
			dsi-mux-gpio = <&porta 28 GPIO_ACTIVE_HIGH>;
			ports {
				#address-cells = <1>;
				#size-cells = <0>;
				port@0 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <0>;
					dsi_input: endpoint {
						remote-endpoint = <&dc_out_dsi>;
					};
				};

				port@1 {
					#address-cells = <1>;
					#size-cells = <0>;
					reg = <1>;
					mipi_dsi_out: endpoint {
						remote-endpoint = <&bridge_in>;
					};
				};
			};

			toshiba_bridge: bridge@0 {
				reg = <0>;
				compatible = "toshiba,tc358762";
				status = "okay";
				vddc-supply = <&reg_display>;
				ports {
					#address-cells = <1>;
					#size-cells = <0>;

					port@0 {
						reg = <0>;
						bridge_in: endpoint {
							remote-endpoint = <&mipi_dsi_out>;
						};
					};

					port@1 {
						reg = <1>;
						bridge_out: endpoint {
							remote-endpoint = <&panel_in>;
						};
					};
				};
			};
		};
	};

	fragment@5{
		target =  <&hdmi_in_dc>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@6{
		target =  <&hdmi_in_i2s>;
		__overlay__ {
			status = "disabled";
		};
	};


	fragment@7{
		target =  <&dc_out_hdmi>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@8{
		target =  <&d0_i2s0_endpoint>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@9{
		target =  <&dw_hdmi>;
		__overlay__ {
			status = "disabled";
		};
	};

	fragment@10{
		target =  <&dsi_output>;
		__overlay__ {
			status = "okay";
		};
	};
};
