# SPDX-License-Identifier: GPL-2.0-only
#
# Configuration for the eswin vi driver
#
source "drivers/media/platform/eswin/dvp2axi/Kconfig"
source "drivers/media/platform/eswin/mipi-csi2/Kconfig"
source "drivers/media/platform/eswin/isp/Kconfig"
source "drivers/media/platform/eswin/mipi-cdphy/Kconfig"

config VIDEO_ESWIN_VI_TOP
    tristate "ESWIN VI_TOP driver support"
    default n
    help
      Enable support for the ESWIN VI_TOP video interface driver.
      This driver is used for handling video input from ESWIN devices.

config VIDEO_ESWIN_VI_IRCUT
    tristate "ESWIN VI IRCUT driver support"
    default n
    help
      Enable support for the ESWIN VI IRCUT interface driver.
      This driver is used for handling camera to switch filter

config VIDEO_ESWIN_VI_INFRARED_LED
    tristate "ESWIN VI INFRARED LED driver support"
    default n
    help
      Enable support for the ESWIN VI INFRARED LED driver.
      This driver is used for handling camera to switch filter
